---
const { member, photo } = Astro.props;
---

{
  member.website ? (
    <a class="member" href={member.website}>
      <figure>
        {photo && (
          <img
            src={member.image || "/images/members/placeholder.png"}
            alt={member.name + " photo"}
          />
        )}
        <figcaption>
          {member.name}
          <br />
          <small>{member.title}</small>
        </figcaption>
      </figure>
    </a>
  ) : (
    <div class="member">
      <figure>
        {photo && (
          <img
            src={member.image || "/images/members/placeholder.png"}
            alt={member.name + " photo"}
          />
        )}
        <figcaption>
          {member.name}
          <br />
          <small>{member.title}</small>
        </figcaption>
      </figure>
    </div>
  )
}

<style lang="scss">
  .member {
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

    figure {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
      height: 100%;
      margin: 0;
      padding: 0;

      figcaption {
        background: rgba(255, 255, 255, 0.9);
        padding: 0.5rem 0.5rem;
        small {
          color: var(--c-text);
        }
      }

      img {
        filter: grayscale(100%);
        object-fit: cover;
        width: 100%;
        display: block;
      }
    }

    &:hover {
      figure > img {
        filter: grayscale(0%);
      }
    }
  }
</style>
