---
import Tags from "./Tags.astro";
import Awards from "./Awards.astro";
import Links from "./Links.astro";
import Authors from "./Authors.astro";
const { entry } = Astro.props;
const data = entry.data;
---

<div class="paper">
  <div class="content">
    <h4 class="title"><a href={data.link}>{data.title}</a></h4>
    <Authors list={data.authors} />
    {data.where && <div class="where">{data.where}</div>}
    {
      data.funding && (
        <div class="funding">Funded by {data.funding.join(", ")}</div>
      )
    }
    <div class="links">
      {data.links && data.links.length > 0 && <Links list={data.links} />}
    </div>
    <div class="info">
      {data.tags && data.tags.length > 0 && <Tags list={data.tags} />}
      {data.awards && data.awards.length > 0 && <Awards list={data.awards} />}
    </div>
  </div>
</div>

<style lang="scss">
  .paper {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      width: 5px;
      background-color: #f0f0f0;
      border-radius: 0.2rem;
    
    }

    @media (max-width: 35rem) {
      flex-direction: column;
      flex-wrap: wrap;
    }

    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      padding: 0 0 0 1rem;

      .title {
        color: var(--c-link);
      }
      .description {
        font-size: 80%;
      }
      .authors {
        color: var(--c-text);
        /*margin-bottom: 0.1rem;*/
        font-size: 90%;
      }
      .links {
        font-size: 80%;
      }
      .where {
        display: inline-block;
        color: var(--c-text);
        font-size: 80%;
      }
      .funding {
        font-size: 80%;
        font-style: italic;
      }
      .info {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0.5rem;
        font-size: 90%;
      }
    }
  }
</style>
